<!--<app-loader [loading]="ready | async">-->
<!--<app-carousel
  title="Most popular movies"
  route="/discover/movies/all/popularity.desc"
  [items]="data.movies.popular"
></app-carousel>-->
<app-view>
  <app-carousel
    title="Most popular movies"
    route="/discover/movies/all/popularity.desc"
    [items]="data.popularMovies"
  ></app-carousel>
  <app-carousel
    title="Top rated movies"
    route="/discover/movies/all/top_rated.desc"
    [items]="data.topRatedMovies"
  ></app-carousel>
</app-view>
<!--</app-loader>-->
