@media only screen and (min-width: 768px) {
  .settings .container .section-wrapper .page-info {
    display: table-cell;
    vertical-align: top;
  }
}
@media only screen and (min-width: 992px) {
  .settings .row, .settings .inner-row {
    margin-left: -25px;
    margin-right: -25px;
  }
}
@media only screen and (min-width: 992px) {
  .col {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.settings .col {
  float: left;
}

.settings .col-50 {
  width: 50% !important;
}

.settings .row:before,
.settings .inner-row:before,
.settings .row:after,
.settings .inner-row:after {
    content: '';
    display: table;
}

.settings .row:after,
.settings .inner-row:after {
  clear: both;
}

.settings.row:before,
.settings.inner-row:before,
.settings.row:after,
.settings.inner-row:after {
  content: '';
  display: table;
}

.settings {
  /* Footers margin-top value */
  margin-bottom: -2%;
}

.settings .container {
  height: 100%;
  box-sizing: content-box;
  margin: 0 auto;
}
  .settings .container::before,
  .settings .container::after {
    content: ' ';
    display: table;
  }
    .settings .container .section-wrapper {
      height: 100%;
      display: table;
      width: 100%;
      background: #fff;
      border-left: 1px solid #edeef0;
      border-right: 1px solid #edeef0;
    }
      .settings .container .section-wrapper .main-navi {
        height: 100%;
        width: 261px;
        padding: 40px 30px 40px;
        border-right: 1px solid #edeef0;
      }
      .settings .container .section-wrapper .main-navi.desktop-visible-td {
        height: 100%;
        display: table;
        vertical-align: top;
      }
        .settings .container .section-wrapper .main-navi .account-info-name {
          border-bottom: 1px solid #edeef0;
          padding-bottom: 21px;
          text-align: center;
        }
          .settings .container .section-wrapper .main-navi .account-info-name .photo {
            display: inline-block;
            width: 70px;
            height: 70px;
            overflow: hidden;
            margin-bottom: 4px;
            background-color: #d8d8d8;
            border-radius: 50%;
            line-height: 0;
          }
            .settings .container .section-wrapper .main-navi .account-info-name .photo img {
              width: 70px;
              height: 70px;
              max-width: 100%;
            }
          .settings .container .section-wrapper .main-navi .account-info-name .name {
            color: #212d33;
          }
          .settings .container .section-wrapper .main-navi .account-info-name .paragraph {
            margin-top: 13px;
          }

        .settings .container .section-wrapper .main-navi .nav-links {
          margin-top: 19px;
          margin-left: -30px;
        }
          .settings .container .section-wrapper .main-navi .nav-links li {
            transition: all .5s ease-in-out;
            cursor: pointer;
            -webkit-user-select: none;
            padding: 0 0 0 30px;
            transition: all .5s ease-in-out;
            border-left: 4px solid transparent;
            line-height: 35px;
          }
            .settings .container .section-wrapper .main-navi .nav-links li:not(.active) a:hover {
              color: #07b;
            }
          .settings .container .section-wrapper .main-navi .nav-links li.active {
            border-left-color: #f33;
          }
            .settings .container .section-wrapper .main-navi .nav-links li.active a {
              color: #f33;
            }

        .settings .container .section-wrapper .main-navi .service-links {
          margin-top: 47px;
          margin-left: 4px;
        }
          .settings .container .section-wrapper .main-navi .service-links li {
            font-size: 13px;
            line-height: 38px;
            letter-spacing: 0;
            font-weight: 400;
          }

      .settings .container .section-wrapper .page-info {
        padding: 47px 60px 40px;
        position: relative;
      }
        .settings .container .section-wrapper .page-info .page-title {
          padding-bottom: 19px;
          margin-bottom: 36px;
          border-bottom: 1px solid #c0c1c4;
          position: relative;
        }
        .settings .container .section-wrapper .page-info .page-info-container {
          padding-bottom: 80px;
        }
          .settings .container .section-wrapper .page-info .page-info-container .overview-widget:nth-child(1) {
            margin-top: 0;
          }
          .settings .container .section-wrapper .page-info .page-info-container .overview-widget {
            margin-top: 71px;
          }
            .settings .container .section-wrapper .page-info .page-info-container .overview-widget .paragraph {
              margin-bottom: 22px;
              color: #212d33;
            }
            .settings .container .section-wrapper .page-info .page-info-container .overview-widget .widget-data {
              margin-bottom: 18px;
            }

          .settings .container .section-wrapper .page-info .page-info-container .overview-widget .facebook-content-block .fb-error {
            color: #ff3333;
            padding: 14px 0 14px 0;
          }

.settings p {
  margin: 0 0 22px;
}

.settings .btn-facebook {
  background-color: #3b5998;
  color: #fff;
}

.settings .long-text {
  white-space: pre-line;
  word-wrap: break-word;
}

.settings h2 {
  font-size: 44px;
  line-height: 48px;
  letter-spacing: -.02em;
  font-weight: 400;
}

.settings .paragraph {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: 400;
}

.settings figure, section, menu, nav {
  display: block;
}

.settings .main-navi ul li a {
  color: #8a8c90;
}

.settings a {
  outline: none;
  color: #07b;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.settings {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0;
  font-weight: 400;
}
